<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.share.mapper.ObjectMapper">

    <insert id="addObject" parameterType="com.share.pojo.Object_1">
        INSERT INTO Objects
        (object_code,merchant_name,object_name,object_price,object_status,object_remark)
        VALUES
        (#{objectCode},#{merchantName},#{objectName},#{objectPrice},#{objectStatus},#{objectRemark})
    </insert>
    <select id="getObject" parameterType="String" resultType="com.share.pojo.Object_1">
        SELECT * FROM Objects WHERE Object_code=#{code}
    </select>
    <select id="getObjectFromName" parameterType="String" resultType="com.share.pojo.Object_1">
        SELECT * FROM Objects WHERE object_name=#{objectName}
    </select>
    <!--批量插入-->
    <insert id="insertSubObject" parameterType="java.util.List">
        INSERT INTO objectTable (`objectId`,`sub_code`,`password`,`condition`,`remark`)
        values
        <foreach collection="objectInfos" item="objects" separator=",">
            (#{objects.objectId},#{objects.code},#{objects.password},#{objects.condition},#{objects.remark})
        </foreach>
    </insert>
    <!--获取商品列表-->
    <select id="getObjectList" parameterType="String" resultType="com.share.pojo.Object_1">
        select * from Objects where merchant_name=#{merchantName} and object_status = 1
    </select>
    <!--更新商品-->
    <update id="updateObject" parameterType="String">
        update Objects set object_status = 0
        where object_name=#{objectName}
    </update>
    <update id="updateObjectPrice" parameterType="com.share.pojo.Object_1">
        update Objects set object_price = #{objectPrice}
        where object_name=#{objectName}
    </update>
</mapper>