<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.share.mapper.ObjectMapper">

    <insert id="addObject" parameterType="com.share.pojo.Object_1">
        INSERT INTO Objects
        (Object_code, name, price, remark)
        VALUES
        (#{code},#{name},#{price},#{remark})
    </insert>
    <select id="getObject" parameterType="String" resultType="com.share.pojo.Object_1">
        SELECT * FROM Objects WHERE Object_code=#{code}
    </select>
</mapper>